@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html{
	background: #333;
	background: -moz-linear-gradient(top, #999 0%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #000));
	background: -webkit-linear-gradient(top, #999 0%, #000 100%);
	background: -o-linear-gradient(top, #999 0%, #000 100%);
	background: -ms-linear-gradient(top, #999 0%, #000 100%);
	background: linear-gradient(to bottom, #999 0%, #000 100%);
    /* garantir q a tag html tome o tamanho total da janela do browser */
    min-height:100%;
    /* The Magic: Pode ser necessário caso tenha uma img como bkg */
    background-size:cover;
}

body{
    /* background removido do body */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
 
header h1{
 color: #0066CD;
 position: fixed;
 font-size: 30px;
 top: 25px;
 left:350px;
}
 
header h2{
position: absolute;
top:30px;
left: 400px;
}

 
header{

    width:850px;
    height: 210px;
    margin: 0 auto; /*CSS Hack!*/
    background-image: url('../img/header.jpg');
    padding: 0px;
    border-bottom: solid 2px #999;
    box-shadow: 0px 0px 10px;
	overflow: hidden;
}

/* Corpo principal da pagina */
 
section#main{

    background-color: #fff;
    width: 850px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px;
}

article#content p{
	margin-bottom: 0px;
	text-align: center;
}

article#content a, article#content a:visited{
	text-decoration: none;
	color: #0066CC;
	font-size: 13px;
	font-weight: bold;
}

article#content a:hover{
	text-decoration: underline;
}

article#content{
    float:right;
    width:810px;
    padding:20px;
	min-height:200px; /*Tamanho arbitrário para não bugar o menu*/
}

article#content h2{
	color: #06c;
	text-align: center;
}


article#content ol{
    list-style-position: outside;
    list-style-type: upper-roman;
}   
 
article#content ul{
    list-style-position: outside;
    list-style-type: circle;
    list-style-image: url('../img/check.gif');
}

/* Div's do setaMensagem() */ 

.sucesso{
	background-color: #C3FFC3;
	border: 2px solid  #21860E;
}

.sucesso p{
	color: #21860E;
	margin: 0 auto;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
}

.sucesso strong{
	font-size:18px;
}

.info{
	background-color: #CFEAFF;
	border: 2px solid  #06c;
}

.info p{
	color: #06c;
	margin: 0 auto;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
}

.info strong{
	font-size:18px;
}

.erro{
	background-color: #FFC3C3;
	border: 2px solid  #E90303;
}

.erro p{
	color: #E90303;
	margin: 0 auto;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
}

.erro strong{
	font-size:18px;
}

/* Tabelas */
.dados-tabulados{
    border: solid 1px #555;
    border-radius: 10px;
    width: 100%;
}
 
.dados-tabulados tr{
    border-bottom: solid 1px #555;
}
 
.dados-tabulados tbody tr:nth-child(odd){
    background-color: #DDD;
}
 
.dados-tabulados tbody tr:nth-child(even){
    background-color: #CCC;
}

/* Form */

form {
    display: block;
    text-align: center;
}

/* Footer */

footer{
	height: 80px;
	width: 834px;
	margin: 0 auto;
	background: #333;
	border-top: 2px solid  #0066CC;
	box-shadow: 0px 1px 10px;
	padding: 8px;
	text-align: center;
}

.footer-logo {
	float: left;
	padding-left:10px;
}

footer small{
	color: #cecece;
	font-family: 'Ubuntu', sans-serif;
}

footer small h3{
	display:inline;
}

.clear{
    clear:both;
}

/* Barra de Menu */

#menuTab{ /* container do menu e usuario */
	width: 100%;
	height: 43px;
	display: table;
	line-height: 1;
	background: #555;
	background: -moz-linear-gradient(top, #666 0%, #333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666), color-stop(100%, #333));
	background: -webkit-linear-gradient(top, #666 0%, #333 100%);
	background: -o-linear-gradient(top, #666 0%, #333 100%);
	background: -ms-linear-gradient(top, #666 0%, #333 100%);
	background: linear-gradient(to bottom, #666 0%, #333 100%);
	border-bottom: 2px solid  #0066CC;
}

#usuarioMsg{ /* width afeta a posição do menu css*/
	width: 410px; 
	display: table-cell;
	vertical-align: middle;
}

#usuarioMsg span{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	color:#cecece;
	font-weight: bold;
}

#usuarioMsg span a, #usuarioMsg span a.visited{
	font-size: 11px;
	color:#fff;
	text-decoration: none;
	font-weight: normal;
}

#usuarioMsg span a:hover{
	text-decoration: underline;
}

/*menu*/ 
 
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu span img,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  display: table-cell;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
	color: #ffffff;
	display: block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	padding: 15px 15px;
	text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a { /*Link do Menu Principal*/
  color: #ffffff;
  font-size: 13px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid  #0066CC;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 0 0 0 0; /* 5px 0 0 0 edição tirado arredondamento primeiro link do menu */
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a { /* 0 5px 0 0 edição tirado arredondamento ultimo link do menu */
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a { /* link do menu sombreado*/
  color: #ffffff;
  background: #111;
  background: -moz-linear-gradient(top, #222 0%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #222 0%, #111 100%);
  background: -o-linear-gradient(top, #222 0%, #111 100%);
  background: -ms-linear-gradient(top, #222 0%, #111 100%);
  background: linear-gradient(to bottom, #222 0%, #111 100%);
  
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a { /* Link do submenu*/
  background:  #0066CC;
  border-bottom: 1px dotted #66a3e0;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #00478e;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0066CC;
  border-bottom: 1px dotted #31b7f1;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #0066CC;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}